.form-group{
    color: black;
    padding: 20px;
}
.form-geral{
    padding: 10px;
    color: black;
    margin-top: -7px;
    width: 100%;  
    height: 620px;
}
.form-total{
    margin: auto;
    min-height: 650px;
}
.titulodocadastro{
    text-align: center;
    font-size: 25px;
    color: black;
}
.inputp{
    color: black;
    width: 50px;
    height: 25px

}
.inputm{
    color: black;
    width: 100px;
    height: 25px
}

.imgCadastro p a{
    color:white;
    text-decoration: none;
    font-size: 18px;
}

.imgCadastro{
    margin-top: 113px;
}

.imgAtividades{
    margin-top: 89px;
    cursor: pointer;
}


.imgCadastro p span{
    text-align: right;
}

.redesSociais{
    margin: auto;
    width: 250px;
    height: 50px;
}

.redesSociais img{
    transition: 0.5s;
}

.rodapeMsg{
    text-align: center;
    color:white;
    font-size: 17px;
    font-weight: bold;
}

.redesSociais img{
    width: 50px;
    height: 50px;
}

.imgCadastro img{
    width: 100%;
}

.imgAtividades img{
    width: 30%;
}

.btn{
    background-color: black;
    color: white;
    height: 35px;
    font-size: 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;
}
body{
    background: black;
    font-family: Helvetica,Arial, sans-serif
}

.btn:hover {
    color: lightgrey;
	background-color:grey;
	border: 2px lightgray solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dadosresultados{
	margin-top: -225px;
	position: relative;
	top:50%;
	margin-left: 80px;
	padding: 20px;
	height: 450px;
	width:300px;
	color: black;
	background-color: white;
	opacity: 0.5;
	border-radius: 5px
}
.background-resultados{
	height: 700px;
	background-image:url("/sixfit/img/fundo01.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
}
.seta{
	margin-top:px;
	width:13px;
	height:13px;
}

.imgAtiv{
	margin-left:3%;
	float:left;
	width: 30%;
	height: 70%;
	background-image: url("../img/8.0.jpg");
}

.imgAtiv1{
	margin-left:3%;
	float:left;
	width: 30%;
	height: 70%;
	background-image: url("../img/9.0.jpg");
}

.imgAtiv2{
	margin-left:3%;
	float:left;
	width: 30%;
	height: 70%;
	background-image: url("../img/10.0.jpg");
}

